<!-- <html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body background="source.gif">

<form action="addCat" method="post">

<h1>Save Your Cat's Information<h1>

What is your cat's name?
    <input type="text" name="name">
<br><br>

What is your cat's breed?
    <input type="text" name="breed">
<br><br>

Plug in url of an image of your cat:
    <input type="text" name="image">
<br><br>


What is your cat's age?
    <input type="text" name="age">
<br><br>

    <input type="submit">
</form>

<br><br>
</body>
</html> -->
