<!-- 
.color{

    background-color: yellow;
    color: yellow;
}


<table style="border:1px black solid">
    <% for(var i=0; i<results.length; i++) { %>
        <tr>
            <td class="color"> Name: <%= results[i].name %> </td>
            <td class="color"> Breed: <%= results[i].breed %> </td>
            <td class="color"> Age: <%= results[i].age %> </td>
            <td class="color"> Image: <%= results[i].image%> </td>
        </tr>
    <% } %>
</table> -->