<a href="logBack">Login Page</a>

<table style="border:1px black solid">
        <% for(var i=0; i<results.length; i++) { %>
            <tr>
                <td><%= results[i].userName %> </td>
                <td> <%= results[i].password %> </td>
            </tr>
        <% } %>
    </table>

    