<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body background="source.gif">



<form action="home" method="post">
    
    <a href="carList">Go To Car List </a>
<br><br>
    <a href="logBack">Login Page</a>

<h1>Build and Save Your Own Car:<h1>

What is the brand of your car?
    <input type="text" name="brand">
<br><br>

What is the name of your car?
    <input type="text" name="name">
<br><br>

What is the color of your car?
    <input type="text" name="color">
<br><br>

What is the year of your car?
    <input type="text" name="year">
<br><br>

How many seats does your car have?
    <input  type="text" name="seats">
<br><br>
    <input type="submit">
 

</form>

<br><br>
</body>
</html>

